.header{
    background-color: #7fd8d8;
    
    
}

.container-cart.btn.btn-outline-success.cart {
    min-height: 39px;
}

.search-bar{
justify-content: flex-end;
}

.cart-widget-bot{
    display: flex;
    justify-content:end ;
    margin-top:10px ;
}

.input-search{
    width: auto;
}

.form-search-container{
    display: flex;
}

@media (min-width:992px ){
    .form-search{
        display: none;
    }
    .nav-top{
        justify-content: space-around !important
    }
}

@media (max-width:992px){
    .form-search-container{
        display: none
    }
    .form-search{
        display: flex;
        justify-content: end;
    }

}



.cart{
    display: flex;
}

.cart-icon{
    padding-right: 5px;
}

.cart-number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    border-radius:  45%;
    background-color: #178080;
    width: 25px;
    height: 25px;
    font-weight: 700;
    
}

div form{
    align-items: flex-end;
    
}
.form-control{
    max-height: 40px;
}

.nav-top{
    
    padding-bottom: 10px;
}
.nav-bot{
    margin: top 2px;
    
}

.img-logo{
    height: 50px;
    
}

.link-item{
    color: aliceblue;
    letter-spacing: 2px;
    margin-left: 30px;
}

.btn-outline-success{
    border: solid 1px #178080;
    color: #178080;
}

.btn-outline-success:hover{
    background-color: #178080;
}

.navbar-nav a{
    text-decoration: none;
}